@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: 'Oswald';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 100px 100px 100px 100px;
  background-color: #9d5c63;
}

p {
  color: #dde2ea;
}

.btn {
  background-color: #e4bb97;
  border-color: #e4bb97;
  color: #71441e;
}
